<div class="text-center pb-5">
  <h1 class="fs-1 fw-semibold text-gradient-blue">Comparte tu espacio. Inspira a
    otros.</h1>
</div>
<div class="card my-5">
  <div class="card-header">
    <h3 class="card-title text-center text-primary">
      <i class="far fa-image"></i>
      Sube tu setup
    </h3>
  </div>
  {{! Formulario para subir imagenes }}
  <div class="card-body p-5">
    <form action="/images" method="post" enctype="multipart/form-data">

      <div class="mb-3">
        <input
          type="file"
          name="image"
          class="form-control border border-primary"
          required
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          name="title"
          class="form-control border border-primary"
          placeholder="Titulo"
          required
        />
      </div>
      <div class="mb-3">
        <textarea
          name="description"
          class="form-control border border-primary"
          rows="2"
          placeholder="Describe tu setup"
          required
        ></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-outline-primary">
          <i class="fa fa-upload"></i>
          Subir
        </button>
      </div>
    </form>
  </div>
</div>

<div class="card mt-2 text-center">
  <div class="card-header d-flex align-items-center justify-content-center">
    <h3 class="card-title text-center text-primary">
      <i class="fas fa-images"></i>
      Setups recientes
    </h3>
  </div>
  <div class="card-body p-5">
    <div class="row">
      {{#each images}}
        <div class="col-md-4 text-center">
          <a href="/images/{{uniqueId}}">
            <img
              src="uploads/{{filename}}"
              alt="{{title}}"
              style="width: 400px; height: 500px; object-fit: cover; padding: 15px;"
            />
          </a>
        </div>
      {{else}}
        <div class="text-center p-5" style="color:lightblue">
          <h1 class="">No hay imagenes</h1>
          <p>Sube tu primera imagen</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>