<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
{{>head}}
    
</head>
<body>
    {{>navigation}}
    
    <div class="container p-4">
        <div class="row">
            <div >
          {{{body}}}
            </div>
            
        </div>
        <div>
                {{>stats this}}
            </div>
    </div>
    
</body>
</html>
